.section3-container {
  width: calc(100% - 2rem); /* Shrink total width */
  max-width: 1544px;
  height: 768px;
  border-radius: 40px;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 6rem auto 0 auto;
  position: relative; /* Important for absolute children */
  overflow: hidden;
  display: flex;
  z-index: 0;
}

.upper {
  /* background: rgba(0, 128, 0, 0.5); semi-transparent green */
  color: white;
  padding: 1.5rem;
  border-radius: 20px;
  z-index: 1;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
}

.nest-upper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nest-upper :first-child {
  font-family: "intr";
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
.nest-upper h1 {
  max-width: 647px;
  width: 100%;
  font-family: "Radio Canada Big", sans-serif;
  font-weight: 400;
  font-size: 86px;
  line-height: 110%;
  color: #f1ff66;
}
.nest-upper p {
  max-width: 480px;
  width: 100%;
  font-family: "inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.upper button {
  width: 260px;
  height: 53px;
  opacity: 1;
  border-radius: 6px;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
  gap: 10px;
  background: #f1ff66;
  color: #000000;
  font-family: "inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower {
  position: absolute;
  top: 50%;
  right: 12rem;
  transform: translateY(-50%);
  z-index: 10;
}

.footer-heading {
}

@media (max-width: 1200px) {
  .lower {
    display: none;
  }
}

@media (max-width: 768px) {
  .nest-upper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .lower {
    display: none;
  }

  .upper {
    padding: 1rem;
    margin-left: 1.5rem;
  }

  .nest-upper h1 {
    font-size: 43px;
    white-space: nowrap;
  }
  .nest-upper p {
    font-size: 22px;
  }
  .section3-container {
    height: 605px;
  }
}
